:root {
	--primary: #bb0000;
	--fg1: rgba(255, 255, 255, 0.7);
	--fg2: rgba(255, 255, 255, 0.5);
	--bg3: #2c2e2e;
	--bg2: #272727;
	--bg1: #1e1e1e;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--fg1);
  border: 0;
  overflow: hidden; 
  overscroll-behavior: none; 
  font-family: 'Ubuntu', sans-serif; 
}

html,body{
  height: 100dvh; 
  background-color: var(--bg1)
}

div {
  height: 100%;
  width: 100%;
}

input, select {
	background-color: var(--fg1);
	color: var(--bg2);
  padding: 0.4rem;
}

button {
  background-color: var(--primary);
  padding: 0.4rem;
  font-weight: bold;
}

button:hover {
  background-color: #cc0000;
}

select {
  width: 100%;
}
