:root {
  display: flex;
  justify-content: flex-end;
}

button {
  border: none;
  background-color: inherit;
}

button:hover {
  background-color: var(--fg1);
  color: var(--bg1)
}

.hidden {
  visibility: hidden;
}

