
:root {
	--primary: #bb0000;
	--fg1: rgba(255, 255, 255, 0.7);
	--fg2: rgba(255, 255, 255, 0.5);
	--bg1: #1e1e1e;
	--bg2: #272727;
	--bg3: #2c2c2c;
  font-family: "Rubik", sans-serif;
}

* {
  color: var(--fg1);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg1);
  height: 100dvh;
  width: 100dwh;
  display: flex;
  overscroll-behavior: none; 
}

header#horizontal-layout {
  position: absolute;
  top: 0;
  height: 4rem;
  background-color: var(--bg2);
  width: 100%;
  display: flex; 
  align-items: center;
}

header.mobile#horizontal-layout {
  margin: 0.8rem 0.8rem 0 0.8rem;
  border-radius: 1.6rem;
  width: calc(100vw - 1.6rem);
}

header#horizontal-layout div.header-main {
  flex: 1;
}

header#horizontal-layout li {
  padding: 0.2rem 0.2rem;
  border-radius: 1rem;
  margin: 0 0.8rem 0 0.8rem;
  list-style: none;
}

header#horizontal-layout li .text {
  display: none; 
}

header#horizontal-layout li .icon {
  color: var(--fg1);
  font-size: 2rem;
  transition: font-size 0.3s ease; 
}

header#horizontal-layout li .icon:hover {
  color: var(--primary);
  font-size: 2.6rem;
}

header#horizontal-layout li.selected .icon {
  color: var(--primary);
}

main#horizontal-layout {
  flex: 1;
  background-color: var(--bg1);
  overflow: scroll;
  margin-top: 4rem;
}

main.mobile#horizontal-layout {
  margin-top: 4.8rem;
  position: absolute;
  left: 0;
}

main.fullscreen#horizontal-layout {
  margin: 0;
}

aside#horizontal-layout {
  height: calc(100dvh-16rem);
  width: 16rem;
  background-color: var(--bg2);
  margin-top: 4rem;
}

aside.closed#horizontal-layout {
  width: 4rem;
}

aside.mobile#horizontal-layout {
  display: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  z-index: 1;
}

aside.closed.mobile#horizontal-layout {
  display: none;
}

aside#horizontal-layout nav {
  height: 100%;
}

aside#horizontal-layout nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
  display: flex; 
  flex-direction: column;
  height: 100%;
}

aside#horizontal-layout nav li {
  margin: 0.7rem; 
  padding: 0.6rem 0.6rem;
  border-radius: 0.7rem;
  display: inline-flex;
  align-items: center;
}


aside#horizontal-layout nav li.close {
  display: none;  
}

aside.mobile#horizontal-layout nav li.close {
  display: block;  
}

aside.closed#horizontal-layout nav li {
  padding: 0.4rem 0.4rem;
}

aside#horizontal-layout nav li.selected {
  background-color: var(--bg1);
}

aside#horizontal-layout nav li .text {
  font-size: 1rem;
  color: var(--fg1);
  font-weight: bold;
  margin-left: 0.6rem;
}

aside.closed#horizontal-layout nav li .text {
  display: none;  
}

aside#horizontal-layout nav li .icon {
  font-size: 1.8rem;
  color: var(--fg1);
}

aside#horizontal-layout nav li:hover .icon {
  font-size: 2.2rem;
  color: var(--primary);
}

aside#horizontal-layout nav li.selected .icon {
  color: var(--primary);
}

.fancy-yew-toast-notifications{
  position: fixed;
  top: 30px;
  right: 20px;
}

.fancy-yew-toast-notification{
  position: relative;
  padding: 10px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 10px;
  width: 400px;
  display: grid;
  grid-template-columns: 70px 1fr 70px;
  border-radius: 5px;
  animation: fancy-yew-toast-notifications-show-animation 0.3s ease 1 forwards  
}

.fancy-yew-toast-notification .icon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
}

.fancy-yew-toast-notification .title{
  font-size: x-large;
  font-weight: bold;
}

.fancy-yew-toast-notification span, .fancy-yew-toast-notification i:nth-child(3){
  color: #fff;
  opacity: 0.6;
}

@keyframes fancy-yew-toast-notifications-show-animation{
  0%{
      transform: translateX(100%);
  }
  40%{
      transform: translateX(-5%);
  }
  80%{
      transform: translateX(0%);
  }
  100%{
      transform: translateX(-10%);
  }
}

.fancy-yew-toast-notification::before{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color);
  width: 100%;
  height: 3px;
  content: '';
  box-shadow: 0 0 10px var(--color);
  animation: fancy-yew-toast-notifications-timeOut-animation 5s linear 1 forwards
}

@keyframes fancy-yew-toast-notifications-timeOut-animation{
  to{
      width: 0;
  }
}

.fancy-yew-toast-notification.success{
  --color: #689d6a;
  background-image: 
      linear-gradient(
          to right, #689d6a, #1e1e1e 30%
      );
}

.fancy-yew-toast-notification.error{
  --color: #cc241d;
  background-image: 
      linear-gradient(
          to right, #cc241d, #1e1e1e 30%
      );
}

.fancy-yew-toast-notification.warning{
  --color: #d79921;
  background-image: 
      linear-gradient(
          to right, #d79921, #1e1e1e 30%
      );
}

.fancy-yew-toast-notification.info{
  --color: #458588;
  background-image: 
      linear-gradient(
          to right, #458588, #1e1e1e 30%
      );
}